/* @import url("../../public/font/IRANYekanX/iranfont.css"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "IRANYekanX";
  src: url("/font/IRANYekanX/vf/IRANYekanXVFaNumVF.woff2")
      format("woff-variations"),
    url("/font/IRANYekanX/vf/IRANYekanXVFaNumVF.woff") format("woff");
  font-weight: 100 1000;
  font-display: swap;
}

body {
  font-family: "IRANYekanX", sans-serif;
  font-weight: 400;
  font-variation-settings: "dots" 1;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  letter-spacing: -0.025em;
}

/* استفاده از فونت CharismaTF برای تمامی تگ‌های تیتر (h1 تا h6) */
h1,
h2 {
  /* font-family: var(--font-charisma-extra-bold); */
  font-family: "IRANYekanX", sans-serif;
  font-weight: 800; /* ExtraBold */
}

h3 {
  /* font-family: var(--font-charisma-regular); */
  font-family: "IRANYekanX", sans-serif;
  font-weight: 400;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  h1 {
    @apply text-5xl font-bold;
  }
  h2 {
    @apply text-4xl font-semibold;
  }
  h3 {
    @apply text-3xl font-semibold;
  }
  h4 {
    @apply text-2xl font-medium;
  }
  h5 {
    @apply text-xl font-medium;
  }
  h6 {
    @apply text-lg font-medium;
  }
}

/* my classes */

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

.container-md {
  max-width: 1440px;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 640px) {
  .container-md {
    max-width: 1440px;
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container-md {
    max-width: 1440px;
    width: 100%;
    padding-right: 60px;
    padding-left: 60px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container-md {
    max-width: 1240px;
    width: 100%;
    padding-right: 80px;
    padding-left: 80px;
    margin-left: auto;
    margin-right: auto;
  }
}

.container-xl {
  max-width: 1440px;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 640px) {
  .container-xl {
    max-width: 1440px;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 768px) {
  .container-xl {
    max-width: 1440px;
    width: 100%;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (min-width: 1024px) {
  .container-xl {
    max-width: 1440px;
    width: 100%;
    padding-right: 72px;
    padding-left: 72px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* swiper opinion */

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #c0c0c0 !important;
  border-radius: 12px !important;
  transition: all 0.2s ease-in-out !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active {
  width: 40px !important;
  height: 12px !important;
  background: #214254 !important;
}
